body {
    background-color: black;
    display: flex;
    height: 100vh;
}

.icon {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon > img{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    animation: mover 3s linear;
    animation-fill-mode: forwards;
}

@keyframes mover  {
    0%{
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
    }
    100%{
        top: -45%;
        left: -46%;
        width: 70px;
        height: 70px;
    }
   
}

.home {
    position: absolute;
    top: 80%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: white;
    text-decoration: none;
}

.home {
    font-family: 'Righteous', cursive;
    color: black;
}

.home:hover {
    background-color: rgb(120, 120, 120);
    transition: 1.5s;
    transform: rotate(360deg);
    color: white;
}
