body {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    animation: girar-pulsar 5s ease-in-out infinite;
}

@keyframes girar-pulsar {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg) scale(1.6);
    }
    100%{
        transform: rotate(360deg) scale(1.0);
    }
    
}

.home {
    position: absolute;
    top: 80%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: white;
    text-decoration: none;
}

.home {
    font-family: 'Righteous', cursive;
    color: black;
}

.home:hover {
    background-color: rgb(120, 120, 120);
    transition: 1.5s;
    transform: rotate(360deg);
    color: white;
}
