body {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.circle{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    animation: quicando 5s ease infinite;
}


@keyframes quicando {
    0%{
        left: 0;
        top: 0;
    }
    25%{
        left: 42%;
        top: 10%;
    }
    50%{
        left: 0;
        top: -39%;
    }
    75%{
        left: -42%;
        top: 30%;
    }
    90%{
        left: -30%;
        top: 39%;
    }
    100%{
        left: 0;
        top: 0;
    }
}

.home {
    position: absolute;
    top: 80%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: white;
    text-decoration: none;
}

.home {
    font-family: 'Righteous', cursive;
    color: black;
}

.home:hover {
    background-color: rgb(120, 120, 120);
    transition: 1.5s;
    transform: rotate(360deg);
    color: white;
}
