body {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    animation: girar 5s ease-in-out infinite;
}

@keyframes girar {
    0%{
        transform: rotateZ(0deg);
        background-color: white;
    }
    12%{
        transform: rotateZ(45deg);
        background-color: red;
    }
    25%{
        transform: rotateZ(90deg);
        background-color: orange;
    }
    37%{
        transform: rotateZ(135deg);
        background-color: yellow;
    }
    50%{
        transform: rotateZ(180deg);
        background-color: gray;
    }
    62%{
        transform: rotateZ(225deg);
        background-color: green;
    }
    75%{
        transform: rotateZ(270deg);
        background-color: blue;
    }
    87%{
        transform: rotateZ(315deg);
        background-color: purple;
    }
    100%{
        transform: rotateZ(360deg);
        background-color: brown;
    }
}

.home {
    position: absolute;
    top: 80%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: white;
    text-decoration: none;
}

.home {
    font-family: 'Righteous', cursive;
    color: black;
}

.home:hover {
    background-color: rgb(120, 120, 120);
    transition: 1.5s;
    transform: rotate(360deg);
    color: white;
}
