body {
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.circle{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgb(150, 150, 150);
    animation: pulsar 2s linear infinite;
}

@keyframes pulsar {
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(2.0);
    }
    100%{
        transform: scale(1.0);
    }
    
}

.home {
    display: flex;
    position: fixed;
    top: 650px;
    right: 200px;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: white;
    text-decoration: none;
}

.home {
    font-family: 'Righteous', cursive;
    color: black;
}

.home:hover {
    background-color: rgb(120, 120, 120);
    transition: 1.5s;
    transform: rotate(360deg);
    color: white;
}
