body {
    background-color: black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.git {
    text-decoration: none;
}

.title {
    padding: 2px;
    font-family: 'Permanent Marker',cursive;
    color: white;
}

.title > h1 {
    margin: 0;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

section {
    
    left: 400px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 100px;
    row-gap: 50px;
}

section > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 40px;
    font-family: 'Righteous', cursive;
    text-decoration: none;
    color: black;
}

section > a:hover {
    background-color: rgb(120, 120, 120);
    color: white;
    transition: 1.5s;
    transform: rotate(360deg);
}